body.player {
  overflow: hidden;
}
body.player .form-group {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
body.player #currently-playing {
}
body.player #currently-playing.hidden {
  display: none;
}
body.player #track-info {
  text-align: center;
}
body.player #title {
  font-weight: 700;
}
body.player #artist {
}
body.player #artist:before {
  content: " by ";
}
body.player #album-and-duration {
  display: block;
}
body.player #album:before {
  content: "\201C";
}
body.player #album:after {
  content: "\201D";
}
body.player #duration:before {
  content: "\a0\b7\a0";
}
body.player #play,
body.player #pause {
  border-radius: 100%;
  font-size: 48px;
  text-align: center;
  line-height: 1;
}
body.player #play {
  padding: 22px 26px 22px 32px;
}
body.player #pause {
  padding: 22px 27px;
}
body.player #station-menu {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  text-align: left;
  border-radius: 2px;
  box-sizing: border-box;
  list-style: none;
  height: 60px;
  z-index: 2;
  overflow: hidden;
}
body.player #station-menu.expanded {
  height: 248px;
  overflow: auto;
}
body.player.theme-dark #station-menu {
}
body.player.theme-light #station-menu {
  border-color: #F79534;
}
body.player.theme-light #station-menu.disabled {
  border-color: #ccc;
}
body.player #station-menu li {
}
body.player #station-menu li.selected {
}
body.player #station-menu.expanded li.selected {
}
body.player #station-menu li a {
  text-decoration: none;
  display: block;
  padding: 0 10px;
  line-height: 60px;
}
body.player #station-menu li a img {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 4px;
}
body.player.theme-light #station-menu li a {
  background-color: #fff;
}
body.player.theme-light #station-menu.expanded li:first-child a,
body.player.theme-light #station-menu.expanded li.selected a {
  background-color: #f8f8f8;
}
body.player.theme-light #station-menu.disabled li a {
  color: #777;
}
