body.player {
  min-width: 19em;
  text-align: center;
}
body.player #currently-playing {
  margin-bottom: 10px;
}
body.player footer {
  margin-top: 0;
}
body.player #title {
  font-weight: 700;
}
body.player #artist {
  display: block;
}
body.player #artist:before {
  content: "by ";
}
body.player #last-known-header {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
}
body.player #album:before {
  content: "\201C";
}
body.player #album:after {
  content: "\201D";
}
body.player #duration:before {
  content: "\a0\b7\a0";
}
