body.player {
  overflow: hidden;
}
body.player .player-controls {
  display: table;
  width: 100%;
}
body.player .menu-container,
body.player .button-container {
  display: table-cell;
  vertical-align: middle;
}
body.player .menu-container {
  width: 100%;
}
body.player .button-container {
  padding-left: 10px;
  text-align: right;
}
body.player #songs-list {
  height: 191px;
  overflow: auto;
  margin-top: 20px;
  list-style: none;
}
body.player #songs-list li {
  line-height: 1.4;
}
body.player #songs-list li + li {
  margin-top: 3px;
}
body.player #songs-list .title {
  font-weight: 700;
}
body.player #songs-list .artist {
}
body.player #songs-list .artist:before {
  content: " by ";
}
body.player #songs-list .album {
}
body.player #songs-list .album:before {
  content: "\a0\b7\a0\201C";
}
body.player #songs-list .album:after {
  content: "\201D";
}
body.player #songs-list .album + .date:before,
body.player #songs-list .artist + .date:before {
  content: "\a0\b7\a0";
}
body.player #songs-list .date {
  font-style: italic;
}
body.player #play,
body.player #pause {
  border-radius: 100%;
  text-align: center;
  line-height: 1;
}
body.player #play .material-icons,
body.player #pause .material-icons {
  font-size: 56px;
}
body.player #play {
  padding: 0;
}
body.player #pause {
  padding: 0;
}
body.player.theme-dark #play:disabled,
body.player.theme-dark #pause:disabled {
  border-color: #444;
}
body.player #station-query {
  margin-bottom: 5px;
}
body.player #station-menu {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  text-align: left;
  border-radius: 2px;
  box-sizing: border-box;
  list-style: none;
  height: 60px;
  z-index: 2;
  overflow: hidden;
}
body.player #station-menu .material-icons {
  vertical-align: middle;
}
body.player #station-menu.expanded {
  height: auto;
  overflow: auto;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 37px;
  bottom: 0;
  width: auto;
}
body.player #station-query.hidden + .player-controls #station-menu.expanded {
  top: 11px;
}
body.player.theme-dark #station-menu {
  border-color: #133C46;
}
body.player.theme-light #station-menu {
  border-color: #F79534;
}
body.player.theme-light #station-menu.disabled {
  border-color: #ccc;
}
body.player.theme-dark #station-menu.disabled {
  border-color: #133C46;
}
body.player #station-menu li {
}
body.player #station-menu li.selected {
}
body.player #station-menu.expanded li.selected {
}
body.player #station-menu li a {
  text-decoration: none;
  display: block;
  padding: 0 10px;
  line-height: 60px;
}
body.player #station-menu li a img {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 4px;
  margin-top: -6px;
}
body.player.theme-light #station-menu,
body.player.theme-light #station-menu li a {
  background-color: #fff;
}
body.player.theme-light #station-menu.expanded li:first-child a,
body.player.theme-light #station-menu.expanded li.selected a {
  background-color: #f8f8f8;
}
body.player.theme-dark #station-menu,
body.player.theme-dark #station-menu li a {
  background-color: #222;
}
body.player.theme-dark #station-menu.expanded li:first-child a,
body.player.theme-dark #station-menu.expanded li.selected a {
  background-color: #24250D;
}
body.player.theme-light #station-menu.disabled li a {
  color: #777;
}
body.player.theme-dark #station-menu.disabled li a {
  color: #999;
}
body.player main#page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body.player #station-menu a[data-tooltip]:hover:before,
body.player #station-menu a[data-tooltip]:hover:after,
body.player #station-menu.expanded .selected a[data-tooltip]:hover:before,
body.player #station-menu.expanded .selected a[data-tooltip]:hover:after {
  display: none;
}
body.player #station-menu.expanded a[data-tooltip]:hover:before,
body.player #station-menu.expanded a[data-tooltip]:hover:after {
  display: block;
}
