/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:link,
button {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.alert {
  color: #468847;
  background-color: #dff0d8;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 14px 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #d6e9c6;
  border-radius: 4px;
}
.alert.error {
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}
body {
  background-color: #8D8D8D;
  color: #373737;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 14px;
  text-shadow: 0 1px 1px #fff;
}
.theme-light {
  background-color: #f8f8f8;
}
.theme-light a,
.theme-light a:link,
.theme-light a:visited,
.theme-light a:active {
  color: #D8A24D;
  text-decoration: underline;
}
.theme-light a:hover,
.theme-light a:focus {
  color: #BA0005;
  text-decoration: none;
}
.theme-dark {
  background-color: #222;
  color: #EEE;
  text-shadow: 0 1px 1px #111;
}
.theme-dark a,
.theme-dark a:link,
.theme-dark a:visited,
.theme-dark a:active {
  color: #D8A24D;
}
.theme-dark a:hover,
.theme-dark a:focus {
  color: #e1b877;
}
.theme-dark h1 {
  color: #999;
}
.theme-dark .help-inline {
  color: #888;
}
.theme-dark .alert {
  color: #dff0d8;
  background-color: #468847;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-color: #2F7130;
}
.theme-dark .alert.error {
  background-color: #a94442;
  color: #f2dede;
  border-color: #973331;
}
.theme-dark footer {
  color: #999;
}
.theme-dark footer a,
.theme-dark footer a:link,
.theme-dark footer a:visited,
.theme-dark footer a:active {
  color: #aaa;
}
.theme-dark footer a:hover,
.theme-dark footer a:focus {
  color: #D8A24D;
}
.theme-dark button {
  color: #eee;
  background-color: #484848;
  border-color: #444;
}
.theme-dark button:hover,
.theme-dark button:focus,
.theme-dark button:active {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
.theme-dark button[disabled] {
  background-color: #333;
  color: #444;
}
.theme-dark select {
  color: #eee;
  background-color: #484848;
  border-color: #444;
}
.theme-dark select[disabled] {
  background-color: #333;
  color: #444;
}
.theme-dark select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(216, 162, 77, 0.75);
  border: 1px solid rgba(216, 162, 77, 0.5);
}
.theme-dark hr {
  border-top-color: #444;
  border-bottom-color: transparent;
}
button {
  color: #333;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #ccc;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button:hover,
button:focus,
button:active {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
button[disabled] {
  background-color: #fff;
  border-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.controls {
  margin-bottom: 14px;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
fieldset legend {
  margin: 0 0 10px 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-style: italic;
}
footer {
  margin-top: 40px;
  font-size: 12px;
}
footer a,
footer a:link,
footer a:visited,
footer a:active {
  color: #999;
  text-decoration: none;
}
footer a:hover,
footer a:focus {
  text-decoration: none;
  color: #666;
}
.form-group + .form-group {
  margin-top: 10px;
}
.hidden {
  display: none;
}
hr {
  border: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
  margin: 20px 0;
}
label {
  display: inline-block;
  vertical-align: middle;
}
label input[type="radio"] {
  vertical-align: middle;
  margin-top: -1px;
}
label + label {
  margin-left: 1.5em;
}
p {
  margin: 0 0 14px 0;
}
p.help-block {
  font-size: 14px;
}
.help-inline {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  padding-left: 5px;
  color: #595959;
  font-size: 12px;
}
.pull-left {
  float: left;
}
select {
  font-family: inherit;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
select[disabled] {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(235, 32, 36, 0.75);
  border: 1px solid rgba(235, 32, 36, 0.5);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
strong {
  font-weight: 700;
}
ul.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
ul.list-inline li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.btn-lastfm,
.theme-dark .btn-lastfm {
  background-color: #c91e24;
  border-color: #b31b20;
  color: white;
}
.btn-lastfm:hover,
.theme-dark .btn-lastfm:hover,
.btn-lastfm:focus,
.theme-dark .btn-lastfm:focus {
  color: white;
  background-color: #9d171c;
  border-color: #861418;
}
main {
  padding: 0 10px 10px 10px;
  position: relative;
}
header {
  display: table;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 22px;
}
header h1,
header ul {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}
header h1 {
  padding: 10px;
  text-align: left;
  font-size: 32px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
}
header ul {
  padding: 10px 10px 10px 0;
  text-align: right;
}
header ul li.active,
header ul li a {
  padding: 10px;
}
header ul li a {
  display: block;
}
header img {
  display: block;
}
header img.pull-left {
  margin-right: 20px;
}
.theme-light header {
  border-bottom-color: #eee;
}
.theme-dark header {
  border-bottom-color: #444;
}
.theme-light header a,
.theme-light header a:link,
.theme-light header a:visited,
.theme-light header a:active {
  color: #373737;
}
.theme-light header a:hover,
.theme-light header a:focus {
  color: #BA0005;
  text-decoration: none;
}
.theme-dark header a,
.theme-dark header a:link,
.theme-dark header a:visited,
.theme-dark header a:active {
  color: #EEE;
}
.theme-dark header a:hover,
.theme-dark header a:focus {
  color: #e1b877;
}
