body.settings {
  font-size: 17px;
}
body.settings .icon-dark {
  display: none;
}
body.settings.theme-dark .icon-light {
  display: none;
}
body.settings.theme-dark .icon-dark {
  display: block;
}
body.settings.theme-dark .help-block {
  color: #999;
}
body.settings footer a,
body.settings footer a:link,
body.settings footer a:visited,
body.settings footer a:active {
  text-decoration: none;
}
body.settings .station-count:before {
  content: "(";
}
body.settings .station-count:after {
  content: ")";
}
body.settings .refresh-stations {
  margin-bottom: 14px;
}
body.settings .stations-list {
  margin-bottom: 0;
}
body.settings .alert {
  position: absolute;
  left: 0;
  width: 100%;
  top: 55px;
  font-size: 14px;
}
body.settings p {
  margin-bottom: 0;
}
body.settings #lastfm-is-authenticated p.help-block {
  margin-bottom: 14px;
}
body.settings .help-block + button {
  margin-top: 10px;
}
