body.settings .icon-dark {
  display: none;
}
body.settings.theme-dark .icon-light {
  display: none;
}
body.settings.theme-dark .icon-dark {
  display: block;
}
body.settings.theme-dark .help-block,
body.settings.theme-dark .refresh-stations:before {
  color: #999;
}
body.settings.theme-light .refresh-stations:before {
  color: #373737;
}
body.settings .station-count:before {
  content: "(";
}
body.settings .station-count:after {
  content: ")";
}
body.settings .refresh-stations {
  float: right;
  text-transform: none;
  text-decoration: none;
}
body.settings .refresh-stations:before {
  content: "\a0\2014\a0";
}
body.settings .stations-list {
  margin-bottom: 0;
}
body.settings p {
  margin-bottom: 0;
}
body.settings #lastfm-is-authenticated p.help-block {
  margin-bottom: 14px;
}
body.settings .help-block + button {
  margin-top: 10px;
}
