body.about #version-wrapper {
  line-height: 22px;
  float: right;
  font-size: 12px;
  font-weight: 400;
}
body.about.theme-dark .help-block {
  color: #999;
}
body.about .donate-link-wrapper {
  text-align: center;
  margin-bottom: 20px;
}
body.about .donate-link {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 4px;
  background-color: #FEAE5E;
  color: #373737;
  text-shadow: 0 1px 1px #FFBB77;
}
body.about .donate-link:hover,
body.about .donate-link:focus {
  background-color: #FFBB77;
}
body.about footer ul {
  padding-left: 0;
  text-align: center;
}
body.about footer ul li {
  display: inline-block;
}
body.about footer ul li + li {
  margin-left: 20px;
}
body.about .container {
  flex: 1;
}
