/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
a,
a:link,
button {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.alert {
  color: #468847;
  background-color: #dff0d8;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 14px 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  position: fixed;
  left: 50%;
  top: 10px;
  width: 350px;
  font-size: 14px;
  margin-left: -175px;
  z-index: 99999;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}
.alert.error {
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}
body {
  background-color: #8D8D8D;
  color: #373737;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 14px;
  text-shadow: 0 1px 1px #fff;
  position: relative;
}
.theme-light {
  background-color: #f8f8f8;
}
a,
a:link,
a:visited,
a:active {
  color: #F79534;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #36C6AA;
  text-decoration: none;
}
.theme-dark {
  background-color: #222;
  color: #EEE;
  text-shadow: 0 1px 1px #111;
}
.theme-dark header h1 a,
.theme-dark header h1 a:link,
.theme-dark header h1 a:visited,
.theme-dark header h1 a:active,
.theme-dark header h1 a:hover,
.theme-dark header h1 a:focus {
  color: #999;
}
.theme-light header h1 a,
.theme-light header h1 a:link,
.theme-light header h1 a:visited,
.theme-light header h1 a:active,
.theme-light header h1 a:hover,
.theme-light header h1 a:focus {
  color: #373737;
}
.theme-dark a,
.theme-dark a:link,
.theme-dark a:visited,
.theme-dark a:active {
  color: #36C6AA;
}
.theme-dark a:hover,
.theme-dark a:focus {
  color: #F79534;
}
.theme-dark .help-inline {
  color: #888;
}
.theme-dark .alert {
  color: #dff0d8;
  background-color: #468847;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-color: #2F7130;
}
.theme-dark .alert.error {
  background-color: #a94442;
  color: #f2dede;
  border-color: #973331;
}
.theme-dark button {
  color: #eee;
  background-color: #484848;
  border-color: #444;
}
.theme-dark button:hover,
.theme-dark button:focus,
.theme-dark button:active {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
.theme-dark button[disabled] {
  background-color: #333;
  color: #444;
}
.theme-dark select {
  color: #eee;
  background-color: #484848;
  border-color: #444;
}
.theme-dark select[disabled] {
  background-color: #333;
  color: #444;
}
.theme-dark select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(216, 162, 77, 0.75);
  border: 1px solid rgba(216, 162, 77, 0.5);
}
.theme-dark hr {
  border-top-color: #333;
  border-bottom-color: transparent;
}
button {
  color: #333;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #ccc;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button:hover,
button:focus,
button:active {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
button[disabled] {
  background-color: #fff;
  border-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.controls {
  margin-bottom: 14px;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
fieldset legend {
  margin: 0 0 10px 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-style: italic;
}
.form-group + .form-group {
  margin-top: 10px;
}
.hidden,
ul.list-inline li.hidden {
  display: none;
}
hr {
  border: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
  margin: 20px 0;
}
label {
  display: inline-block;
  vertical-align: middle;
}
label input[type="radio"] {
  vertical-align: middle;
  margin-top: -1px;
}
label + label {
  margin-left: 1.5em;
}
p {
  margin: 0 0 14px 0;
}
p.help-block {
  font-size: 14px;
}
.help-inline {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  padding-left: 5px;
  color: #595959;
  font-size: 12px;
}
.pull-left {
  float: left;
}
select {
  font-family: inherit;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
select[disabled] {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(235, 32, 36, 0.75);
  border: 1px solid rgba(235, 32, 36, 0.5);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
strong {
  font-weight: 700;
}
ul.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
ul.list-inline li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.btn-lastfm,
.theme-dark .btn-lastfm {
  background-color: #c91e24;
  border-color: #b31b20;
  color: white;
}
.btn-lastfm:hover,
.theme-dark .btn-lastfm:hover,
.btn-lastfm:focus,
.theme-dark .btn-lastfm:focus {
  color: white;
  background-color: #9d171c;
  border-color: #861418;
}
header {
  position: relative;
  height: 55px;
}
header > ul {
  font-size: 22px;
  display: table;
  width: 100%;
  list-style: none;
  padding: 0;
}
header > ul .material-icons {
  font-size: 18px;
}
header > ul > li {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 10px 0 10px;
}
header > ul > li#return-link-wrapper {
  text-align: left;
}
header > ul > li#return-link-wrapper .material-icons {
  font-size: 32px;
}
header > ul > li#return-link-wrapper .material-icons {
  margin-right: -8px;
  margin-top: -2px;
}
header > ul > li a,
header > ul > li a:link,
header > ul > li a:visited,
header > ul > li a:active,
header > ul > li a:hover,
header > ul > li a:focus {
  display: block;
  text-decoration: none;
  line-height: 32px;
}
header #chromecast-list {
  font-size: 14px;
  position: absolute;
  z-index: 3;
  text-align: left;
  right: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
header #chromecast-link.disabled {
  cursor: default;
}
.theme-light header #chromecast-link.pulse {
  animation: pulse-light 0.7s infinite;
}
.theme-dark header #chromecast-link.pulse {
  animation: pulse-dark 0.7s infinite;
}
header #chromecast-list li a {
  display: block;
  padding: 0 6px;
}
header #chromecast-list li a:hover,
header #chromecast-list li a:focus {
  text-decoration: underline;
}
.theme-dark header #chromecast-list {
  background-color: #333;
}
.theme-light header #chromecast-list {
  background-color: #f8f8f8;
}
.theme-dark header #chromecast-list li a,
.theme-dark header #chromecast-list li a:link,
.theme-dark header #chromecast-list li a:visited,
.theme-dark header #chromecast-list li a:active,
.theme-dark header #chromecast-list li a:hover,
.theme-dark header #chromecast-list li a:focus {
  color: #f8f8f8;
}
header img {
  display: block;
}
header img.pull-left {
  margin-right: 20px;
}
header .material-icons {
  vertical-align: middle;
}
header .right-links {
  text-align: right;
}
header .right-links > div {
  display: inline-block;
}
header .right-links > div + div {
  margin-left: 5px;
}
header .right-links > div.hidden {
  display: none;
}
.dismiss-alert {
  position: fixed;
  left: 50%;
  top: 30px;
  margin-left: 145px;
}
.theme-dark a.dismiss-alert,
.theme-dark a.dismiss-alert:link,
.theme-dark a.dismiss-alert:visited,
.theme-dark a.dismiss-alert:active {
  color: #fff;
}
.theme-dark .alert.error a.dismiss-alert,
.theme-dark .alert.error a.dismiss-alert:link,
.theme-dark .alert.error a.dismiss-alert:visited,
.theme-dark .alert.error a.dismiss-alert:active {
  color: #f2dede;
}
.theme-light a.dismiss-alert,
.theme-light a.dismiss-alert:link,
.theme-light a.dismiss-alert:visited,
.theme-light a.dismiss-alert:active {
  color: #2F7130;
}
.theme-light .alert.error a.dismiss-alert,
.theme-light .alert.error a.dismiss-alert:link,
.theme-light .alert.error a.dismiss-alert:visited,
.theme-light .alert.error a.dismiss-alert:active {
  color: #a94442;
}
header a:hover, header a:focus {
  text-decoration: none;
}
.theme-dark header a,
.theme-dark header a:link,
.theme-dark header a:visited,
.theme-dark header a:active {
  color: #36C6AA;
}
.theme-dark header a:hover,
.theme-dark header a:focus {
  color: #F79534;
}
.theme-dark header .right-links a,
.theme-dark header .right-links a:link,
.theme-dark header .right-links a:visited,
.theme-dark header .right-links a:active {
  color: #777;
}
main#page-container {
  padding: 0 20px 20px 20px;
  position: relative;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.flexbox-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}
.flexbox-item-grow {
  flex: 1; /* same as flex: 1 1 auto; */
}
.fill-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}
.fill-area-content {
  overflow: auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes pulse-dark {
  0% { color: #777; }
  100% { color: #222; }
}
@keyframes pulse-light {
  0% { color: #f79534; }
  100% { color: #f8f8f8; }
}
.spin {
  animation: spin 3s infinite .25s linear;
  transition: all .8s ease;
}
.spinner {
  animation: spin 3s infinite .25s linear;
  position: relative;
  transition: all .8s ease;
  color: #36C6AA;
}
.spinner.material-icons {
  font-size: inherit;
}
a[data-tooltip] {
  position: relative;
}
a[data-tooltip]:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  content: "";
  left: 120px;
  top: 5px;
  position: absolute;
  z-index: 99;
}
a[data-tooltip]:hover:after {
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  left: 110px;
  bottom: calc(100% - 5px);
  color: #fff;
  content: attr(data-tooltip);
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  text-align: center;
  width: 220px;
  font-size: 12px;
  line-height: 1.2;
  text-shadow: none;
}
